 {% extends 'base.html' %}

{% block title %}Participant Dashboard{% endblock %}

{% block content %}
<h1 class="text-3xl font-semibold mb-6 text-gray-800 bg-yellow-100">Participant Dashboard</h1>
<p class="mb-4 text-gray-700 bg-gray-50">Your RSVP Events:</p>

{% if request.user.rsvp_events.exists %}
    <ul class="divide-y divide-gray-300 border border-gray-300 rounded">
        {% for event in request.user.rsvp_events.all %}
            <li class="flex justify-between items-center p-4 hover:bg-gray-100 transition">
                <span>{{ event.title }}</span>
                <a href="{% url 'rsvp_event' event.id %}" class="text-blue-600 hover:underline text-sm bg-pink-500">View Event</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="text-gray-600 bg-sky-100">You have not RSVP to any events yet.</p>
{% endif %}
{% endblock %}